<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>DenSaulyq - Book a Session</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="style/session.css">
  <script>
    var currentDay = <%=currentDay%>
    const currentDat = <%=currentDat%> - 1
    var currentMonth = <%=currentMonth%>
    const monthDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    var currentYear = <%=currentYear%>
    var days = [0, 0, 0, 0, 0, 0, 0]
    var currentDoctor = 0

    const doctorses = ['Cardiologist', 'Proctologist', 'Pulmonologist', 'Emergency physicians', 'Psychiatrists', 'Neurologists', 'Radiologists', 'Pediatricians']
    const Yearities = []
    const Montheleties = []
    const Dayeties = []
    const Minites = []
    const Horses = []

    let decoded = '<%=timesStr%>'.replaceAll('&#34;', '"')
    console.log(decoded, 1)
    const data = JSON.parse(decoded)
    for (var i = 0; i < doctorses.length; i++) {
      let ys = []
      let ms = []
      let ds = []
      for (var o = 0; o < data.length; o++) {
        if (data[o].type == doctorses[i]) {
          ys.push(data[o].years)
          ms.push(data[o].months)
          ds.push(data[o].days)
          Horses.push(data[o].hours)
          Minites.push(data[o].minutes)
        }
      }
      ys = ys.join(',')
      ms = ms.join(',')
      ds = ds.join(',')
      Yearities.push(ys)
      Montheleties.push(ms)
      Dayeties.push(ds)
    }
    console.log(Minites, 5)

    if (<%=isLeap%>) {
      monthDays[1] = 29
    } else {
      monthDays[1] = 28
    }

    function prevDays()
    {
      currentDay -= 7
      if (currentDay <= 0) {
        currentMonth--
        if (currentMonth < 0) {
          currentMonth = 11
          currentYear--
        }
        currentDay = monthDays[currentMonth] + currentDay
      }
      days[currentDat] = currentDay

      //Change according to pivot
      let sum = 1
      for (var i = currentDat + 1; i < 7; i++) {
        days[i] = currentDay + sum
        sum++
      }
      sum = 1
      for (var i = currentDat - 1; i >= 0; --i) {
        if (currentDay <= 0) {
          sum = monthDays[currentMonth + 1] + currentDay
        }
        days[i] = currentDay - sum
        sum++
      }
      changeDays(days)
    }

    function nextDays()
    {
      currentDay += 7
      if (currentDay > monthDays[currentMonth]) {
        currentDay = currentDay - monthDays[currentMonth]
        currentMonth++
        if (currentMonth > 11) {
          currentMonth = 0
          currentYear++
        }
      }
      days[currentDat] = currentDay
      console.log(currentMonth, currentDay)

      //Change according to pivot
      let sum = 1
      for (var i = currentDat + 1; i < 7; i++) {
        if (currentDay + sum > monthDays[currentMonth]) {
          sum = -currentDay + 1
        }
        days[i] = currentDay + sum
        sum++
      }
      sum = 1
      for (var i = currentDat - 1; i >= 0; --i) {
        days[i] = currentDay - sum
        sum++
      }
      changeDays(days)
    }

    function updateDays()
    {
      days[currentDat] = currentDay
      let sum = 1
      for (var i = currentDat + 1; i < 7; i++) {
        if (currentDay + sum > monthDays[currentMonth]) {
          sum = -currentDay + 1
        }
        days[i] = currentDay + sum
        sum++
      }
      sum = 1
      for (var i = currentDat - 1; i >= 0; --i) {
        if (currentDay <= 0) {
          sum = monthDays[currentMonth + 1] + currentDay
        }
        days[i] = currentDay - sum
        sum++
      }
      changeDays(days)
    }

    const monthNames = ["January","February","March","April","May","June","July","August","September","October","November","December"]
    function changeDays()
    {
      updateAllButtons()
      var parentDays = document.getElementsByClassName('days')
      var dayFields = []
      for (var i = 0; i < parentDays[currentDoctor].children.length; i++)
        if (i != 0 && i != parentDays[currentDoctor].children.length - 1)
          dayFields.push(parentDays[currentDoctor].children[i])
      for (var i = 0; i < dayFields.length; i++)
        dayFields[i].innerHTML = days[i]

      document.getElementsByClassName('year')[currentDoctor].innerHTML = currentYear
      document.getElementsByClassName('month')[currentDoctor].innerHTML = monthNames[currentMonth]
    }

    var activeButton
    function setTimeField(w, ho, mi, id, i) {
      let inputDoc = document.getElementById('exampleFormControlSelect2')
      let input = document.getElementById('date')
      input.value = currentYear + '-' + currentMonth + '-' + days[w] + ' ' + ho + ':' + mi + ':' + w
      inputDoc.value = currentDoctor
      if (activeButton)
        activeButton.className = "order-free"
      activeButton = document.getElementById(id)
      activeButton.className = "order-free order-selected"
    }

    function show(index)
    {
      let schedules = document.getElementsByClassName('schedule')
      for (let i = 0; i < schedules.length; i++)
        if (i != index)
          schedules[i].style.visibility = 'hidden'
        else
          schedules[i].style.visibility = 'visible'
      currentDoctor = index
      changeDays()
    }

    function updateAllButtons() {
      for (var i = 16; i < 43; i++) {
        for (var j = 0; j < 7; j++) {
          let id = i * 100 + j * 10 + currentDoctor
          id = id.toString()

          let exe = false
          for (var p = 0; p < Minites[currentDoctor].length; p++) {
            const sumDoc = Minites[currentDoctor][p] + Horses[currentDoctor][p] * 60
            if (isNaN(sumDoc))
              continue
            const sumButton = (i % 2) * 30 + Math.trunc(i / 2) * 60

            if (sumButton - sumDoc >= 0 && sumButton - sumDoc <= 30)
              exe = true;
          }
            if (exe) {
              isExist(id, Yearities[currentDoctor], Dayeties[currentDoctor], Montheleties[currentDoctor], j)
            }
          }
        }
      }

    function isExist(button, years, dayss, months, week)
    {
      let oky = []
      let okm = []
      let okd = []
      let yearss = years.split(',')
      let daysss = dayss.split(',')
      let monthss = months.split(',')

      for (var i = 0; i < yearss.length; i++) {
        oky.push(parseInt(yearss[i]) == currentYear)
        okm.push(parseInt(monthss[i]) == currentMonth)
        okd.push(parseInt(daysss[i]) == days[week])
      }

      let free = true
      for (var i = 0; i < oky.length; i++)
        if (oky[i] && okm[i] && okd[i]) {
          free = false
          break
        }

      if (free) {
        document.getElementById(button).className = 'order-free'
      } else {
        document.getElementById(button).className = 'order-exist'
      }
    }
  </script>
</head>

<body id="top">

<%- include('new_header.html') %>
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Book your Seat</span>
          <h1 class="text-capitalize mb-5 text-lg">Appoinment</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Book your Seat</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>
<div class="d-flex justify-content-center">
<% const doctors = ['Cardiologist', 'Proctologist', 'Pulmonologist', 'Emergency physicians', 'Psychiatrists', 'Neurologists', 'Radiologists', 'Pediatricians'] %>
<% const dates = ['Monday', 'Tuesday', 'Thirsday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
<% for (var i = 0; i < doctors.length; i++) { %>
<button onclick="show(<%=i%>)"><%=doctors[i]%></button>
<div class="schedule">
<h1><%=doctors[i]%></h1>
<h2 class="month"></h2>
<table style="width:100%">
  <thead>
  <tr scope="row">
    <th class="year"></th>
    <th><%=dates[0]%></th>
    <th><%=dates[1]%></th>
    <th><%=dates[2]%></th>
    <th><%=dates[3]%></th>
    <th><%=dates[4]%></th>
    <th><%=dates[5]%></th>
    <th><%=dates[6]%></th>
  </tr>
  <tr scope="row" class="days">
    <th><button onclick="prevDays();"><</button></th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th><button onclick="nextDays();">></button></th>
  </tr>
  </thead>
  <script>updateDays()</script>
  <% for (var j = 16; j < 43; j++) { %>
  <tr scope="row">
    <th>
    <%=Math.trunc(j / 2)%>
      :
    <% if ((j % 2)) { %>
      30
    <% } else { %>
      00
    <% } %>
    </th>
    <% for (var k = 0; k < dates.length; k++) { %>
    <td>
      <% let index = 0
      let isExist = false
      for (var o = 0; o < times.length; o++) {
        if (times[o].type === doctors[i]) {
          index = o
          for (var p = 0; p < times[o].days.length; p++) {
            if (times[o].date[p] != k)
              continue
            const sumDoc = times[o].minutes[p] + times[o].hours[p] * 60

            if (isNaN(sumDoc) || isNaN(times[o].date[p]))
              continue

            const sumButton = (j % 2) * 30 + Math.trunc(j / 2) * 60

            if (sumButton - sumDoc >= 0 && sumButton - sumDoc <= 30) {
              isExist = true;
              console.log(doctors[i], times[o])
            }
          }
        } %>

      <% } %>
      <%
        let years = times[index].years
        let months = times[index].months
        let days = times[index].days
      %>
      <% if (isExist) { %>
        <button id="<%=j * 100 + k * 10 + i%>" class="order-exist"></button>
        <script>isExist('<%=j * 100 + k * 10 + i%>', '<%=years%>', '<%=days%>', '<%=months%>', <%=k%>);</script>
      <% } else { %>
        <button id="<%=j * 100 + k * 10 + i%>" class="order-free" onclick="setTimeField(<%=k%>, <%=(Math.trunc(j / 2))%>, <%=((j % 2) * 30)%>, '<%=j * 100 + k * 10 + i%>', <%=i%>);"></button>
      <% } %>
    </td>
    <% } %>
  </tr>
  <% } %>
</table>
</div>
<% } %>
</div>

<section class="appoinment section" style="margin-top: 600px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mt-3">
          <div class="feature-icon mb-3">
            <i class="icofont-support text-lg"></i>
          </div>
          <span class="h3">Call for an Emergency Service!</span>
          <h2 class="text-color mt-3">+7 775 000 6801 </h2>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
          <h2 class="mb-2 title-color">Book an appoinment</h2>
          <p class="mb-4">Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti qui velit . Iste dolorum atque similique praesentium soluta.</p>
          <form id="#" class="appoinment-form" method="post" action="/session">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <select class="form-control" id="exampleFormControlSelect1" name="department">
                    <%if(docType == 0) {%>
                      <option>Choose Department</option>
                    <%}%>
                    <%if(docType == 1){%>
                      <option selected="selected">Cardiology</option>
                    <%} else {%>
                      <option>Cardiology</option>
                    <%}%>
                      <%if(docType == 2){%>
                        <option selected="selected">Proctology</option>
                      <%} else {%>
                        <option>Proctology</option>
                      <%}%>
                      <%if(docType == 3){%>
                        <option selected="selected">Pulmonology</option>
                      <%} else {%>
                        <option>Pulmonology</option>
                      <%}%>
                    <option>Gastroenterology</option>
                    <option>Gynecology</option>
                    <option>Intensive Care Unit (ICU)</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <select class="form-control" id="exampleFormControlSelect2" name="doctor" readonly>
                    <%if(docType == 0){%>
                    <option selected="selected">Select Doctors</option>
                    <%}%>
                      <%if(docType == 1){%>
                        <option value="0" selected="selected">Cardiologist</option>
                      <%} else {%>
                        <option value="0">Cardiologist</option>
                      <%}%>
                      <%if(docType == 2){%>
                        <option value="1" selected="selected">Proctologist</option>
                      <%} else {%>
                        <option value="1">Proctologist</option>
                      <%}%>
                      <%if(docType == 3){%>
                        <option value="2" selected="selected">Pulmonologist</option>
                      <%} else {%>
                        <option value="2">Pulmonologist</option>
                      <%}%>
                    <option value="3">Emergency physicians</option>
                    <option value="4">Psychiatrists</option>
                    <option value="5">Neurologists</option>
                    <option value="6">Radiologists</option>
                    <option value="7">Pediatricians</option>

                  </select>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <input name="date" id="date" class="form-control" readonly required>
                </div>
              </div>

              <div class="col-lg-6">

              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input name="name" id="name" type="text" class="form-control" placeholder="Full Name" required>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <input name="phone" id="phone" type="text" class="form-control" placeholder="Phone Number" required>
                </div>
              </div>
            </div>
            <div class="form-group-2 mb-4">
              <textarea name="message" id="message" class="form-control" rows="6" placeholder="Your Message"></textarea>
            </div>

            <button type="submit" class="btn btn-main btn-round-full">Make Appointment<i class="icofont-simple-right ml-2"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>


<footer class="page-footer font-small blue pt-4" style="background-color:#86D3E9;">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3" style="padding: 20px; padding-left: 50px;">
        <h4 class="text-uppercase">More information</h4>
        <p>The densaulyk website was invented as an excellent tool for registering patients to various doctors and polyclinics. I don't want to write a lot of words, so let's imagine that here I wrote a real interesting and informative text. Thank you very much for visiting our website)</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3" style="padding: 20px;">
        <h5 class="text-uppercase">Helpful links</h5>
        <ul class="list-unstyled" style="padding-top: 10px;">
          <li>
            <a href="https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/behaviours/help-for-suicidal-thoughts/" style="color: black;">For Students</a>
          </li>
          <li>
            <a href="https://klinikarassvet.ru/company/smi-o-nas/problema-s-utrenney-erektsiey-chto-delat-i-nado-li-lechit/" style="color: black;">For Nikita</a>
          </li>
          <li>
            <a href="https://youtu.be/dQw4w9WgXcQ" style="color: black;">For humanity</a>
          </li>
          <li>
            <a href="https://youtu.be/JiYq_R55WdM" style="color: black;">For dehydration</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3" style="padding: 20px;">
        <h5 class="text-uppercase">Our contacts</h5>
        <ul class="list-unstyled" style="padding-top: 10px;">
          <li>
            <a href="https://t.me/operator_hike" style="color: black;" >Man1</a>
          </li>
          <li>
            <a href="https://t.me/tunaxxnew" style="color: black;">Man2</a>
          </li>
          <li>
            <a href="https://t.me/Ecl1ps0" style="color: black;">Man3</a>
          </li>
          <li>
            <a href="https://t.me/aloneforalong" style="color: #860C0C;">The best girl ;)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!--
Essential Scripts
=====================================-->


<!-- Main jQuery -->
<script src="plugins/jquery/jquery.js"></script>
<!-- Bootstrap 4.3.2 -->
<script src="plugins/bootstrap/js/popper.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/counterup/jquery.easing.js"></script>
<!-- Slick Slider -->
<script src="plugins/slick-carousel/slick/slick.min.js"></script>
<!-- Counterup -->
<script src="plugins/counterup/jquery.waypoints.min.js"></script>

<script src="plugins/shuffle/shuffle.min.js"></script>
<script src="plugins/counterup/jquery.counterup.min.js"></script>
<!-- Google Map -->
<script src="plugins/google-map/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

<script src="js/script.js"></script>
<script src="js/contact.js"></script>

<script>show(0);</script>

</body>
</html>